<div class="row mt-5">
  <table class="table table-primary table-striped table-hover">
    <thead>
      <tr>
        <th [width]=350>Name</th>
        <th [width]=150>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{bill.billType.description}}</td>
        <td>{{bill.value | currency:"R$ "}}</td>
        <td><button class="btn btn-primary" (click)="delete(bill)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="d-flex bd-highlight mb-3">
  <div class="me-auto p-2 bd-highlight">
    <button type="button" class="btn btn-success" (click)="openModal(template)">Add bill</button>
  </div>
  <div class="p-3 bd-highlight">
    <label for="items-per-page"></label> Items per page:
  </div>
  <div class="p-2 bd-highlight">
    <select id="items-per-page" [(ngModel)]="pageSize" (ngModelChange)="loadUser()" class="form-select" aria-label="Select items per page">
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
    </select>
  </div>
</div>
<div class="d-flex justify-content-center mt-2" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">
  </pagination>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New bill</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="bill-type">Type</label>

    <form [formGroup]='newBillForm' (ngSubmit)="add()" autocomplete="off">
      
      <div class="form-group">
        <select 
          [class.is-invalid]='newBillForm.get("typeId")?.errors && newBillForm.get("typeId")?.touched'
          class="form-control" 
          formControlName="typeId">
          <option value="">--- Select type ---</option>
          <option *ngFor="let billtype of billTypes" [value]="billtype.id">{{billtype.description}}</option>      
        </select>
        <div class="invalid-feedback">Please select a type</div>
      </div>

      <app-text-input [formControl]='newBillForm.controls["value"]' [label]='"Value"'></app-text-input>

      <div class="form-group">
        <div class="input-group">
          <select 
            [class.is-invalid]='newBillForm.get("month")?.errors && newBillForm.get("month")?.touched'
            class="form-control mr-2" 
            formControlName="month">
            <option value="">--- Select month ---</option>
            <option *ngFor="let month of months" [value]="month.id">{{month.name}}</option>      
          </select>          
          <app-text-input [formControl]='newBillForm.controls["year"]' [label]='"Year"'></app-text-input>
          <div *ngIf="newBillForm.get('month')?.hasError('required') && newBillForm.get('month')?.touched" class="invalid-feedback">Please enter the month</div>
        </div>        
      </div>

      <div class="form-group">
        
      </div>

      <!-- <button type="button" class="btn btn-primary mr-1 mt-3" (click)="add(newBill)">Add</button> -->
      <button class="btn btn-primary mr-1 mt-3" type="submit">Add</button>
      <button type="button" class="btn btn-secondary mt-3" (click)="modalRef.hide()">Cancel</button>
    </form>
    <!-- <p>Form value: {{newBillForm.value | json}}</p>
    <p>Form status: {{newBillForm.status | json}}</p> -->
  </div>
</ng-template>