<div class="row mt-5">
    <table class="table">
        <thead>
            <tr>
                <th [width]=350>Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>            
            <tr *ngFor="let bill of bills">
                <td>{{bill.billType.description}}</td>
                <td>{{bill.value | currency:"R$ "}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [(ngModel)]="pagination.currentPage"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;">

    </pagination>
</div>