<div class="row mt-5">
  <table class="table table-primary table-striped table-hover">
    <thead>
      <tr>
        <th [width]=350>Name</th>
        <th [width]=250>Value</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bill of bills">
        <td>{{bill.billType.description}}</td>
        <td>{{bill.value | currency:"R$ "}}</td>
        <td><button class="btn btn-primary" (click)="delete(bill)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-success" (click)="openModal(template)">Add bill</button>
<div class="d-flex justify-content-center mt-2" *ngIf="pagination">
  <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemsPerPage"
    [(ngModel)]="pagination.currentPage" (pageChanged)="pageChanged($event)" previousText="&lsaquo;" nextText="&rsaquo;"
    firstText="&laquo;" lastText="&raquo;">

  </pagination>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New bill</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
      <label for="bill-type">Type</label>
      <select class="form-control" [(ngModel)]="newBill.typeId" id="bill-type" required>
        <option *ngFor="let billtype of billTypes" [value]="billtype.id">{{billtype.description}}</option>
      </select>
    <label for="value">Value</label>
    <input type="text" id="value" name="value" class="form-control"
      required minlength="4" [(ngModel)]="newBill.value" #name="ngModel">
    <button type="button" class="btn btn-primary mr-1 mt-3" (click)="add(newBill)">Add</button>
    <button type="button" class="btn btn-secondary mt-3" (click)="modalRef.hide()">Cancel</button>
  </div>
</ng-template>