<div class="container">
  <div class="row">    
    <div class="col">
      <div class="input-group mb-3">
        <span class="input-group-text">Filter</span>
        <input 
          type="text" 
          class="form-control" 
          placeholder="Type to search" 
          aria-label="Filter by description"
          [(ngModel)]="searchText"
          (keyup)="onFilter()">
      </div>

      <div class="list-group mt-2">
        <button *ngFor="let billType of billTypes" type="button"
          class="list-group-item list-group-item-action"
          (click)="onSelect(billType)">{{billType.description}}</button>        
      </div>

    </div>
    <div class="col">
      <div *ngIf="selectedBillType" class="row">
        <app-bill-type [billType]="selectedBillType" (saveBillTypeEvent)="closeChild($event)"></app-bill-type>
      </div>
    </div>
  </div>
</div>